apiVersion: v1
kind: ConfigMap
metadata:
  name: search-engine-config
  namespace: search-engine
data:
  application.properties: |
    # Server
    server.port=8080
    
    # Kafka
    spring.kafka.bootstrap-servers=kafka-service:9092
    spring.kafka.consumer.group-id=search-engine-workers
    
    # PostgreSQL
    spring.datasource.url=jdbc:postgresql://postgres-service:5432/search_engine
    spring.datasource.driver-class-name=org.postgresql.Driver
    
    # Redis
    spring.redis.host=redis-service
    spring.redis.port=6379
    
    # Elasticsearch
    spring.elasticsearch.uris=http://elasticsearch-service:9200
    
    # Flyway
    spring.flyway.enabled=true
    spring.flyway.locations=classpath:db/migration
    
    # Actuator
    management.endpoints.web.exposure.include=health,info,metrics,prometheus
    management.endpoint.health.show-details=always
    management.metrics.export.prometheus.enabled=true
    
    # Logging
    logging.level.root=INFO
    logging.level.com.chibao.edu.search_engine=DEBUG
